<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div style="color: rgb(223, 138, 81);"><h1> Strona główna</h1></div>
    <%- include('menu.ejs') %>
</body>
</html>