<style>
  .Navbar{
  display: flex;
  gap: 15px
}

  body{
    background-color: lightskyblue;
  }
</style>


<nav class="Navbar">
    <a href="/">
      Strona glowna
    </a>

    <a href="/add" class="block">
      Dodaj
    </a>


    <a href="/load" class="block">
      Zaladuj
    </a>
</nav>